<html>
   <body>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.7.0/jsforce.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	 <script>
	   jsforce.browser.init({
	        clientId: '3MVG9d8..z.hDcPK7_xOrrNj8vcabo1_1JaJOE6QmwDMhRoUKliFQpVdlZqHFDGTX42YSa9NgrExlAhj9ekaK',
			redirectUri: 'http://localhost:8000/callback',
			proxyUrl: 'https://safe-stream-17926.herokuapp.com/proxy/'
		});
		
		jsforce.browser.on('connect', function(conn) {		
		                                                   alert(conn.refreshToken+"refreshToken");
														   var dataString = 'accessToken='+conn.accessToken+'&refreshToken='+conn.refreshToken+'&instanceUrl='+conn.instanceUrl;

		                                					$.ajax({
    
																	async       : true,
																	type        : 'POST',
																	url         : 'http://localhost:8000/userDb',
																	data        : dataString,

																	// If the POST is success
																	success     :function(response){
																				  alert(response);
																				  if(response){
																				  alert(" success");
																				  }
																				  
																				  else {
																				  alert(" failed");
																				  }
																				 },

																	// If the POST is not working
																	error       :function (xhr, status, error) 
																				 {
																				   alert('Error: ' + error);

																				 }
																			

																   });
										
						                            });
											 
	 </script>									
     <p>CallBack.html</p>
	 </body>

 </html>