<html>
   <head>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.7.0/jsforce.min.js"></script>
	 <script>
	 alert("Connection");
	   jsforce.browser.init({
	        clientId: '3MVG9d8..z.hDcPK7_xOrrNj8vcabo1_1JaJOE6QmwDMhRoUKliFQpVdlZqHFDGTX42YSa9NgrExlAhj9ekaK',
			redirectUri: 'http://localhost:8000/callback',
			proxyUrl: 'https://safe-stream-17926.herokuapp.com/proxy/'
		});
		
		// Login URL
		jsforce.browser.login();
		
        jsforce.browser.on('connect', function(conn) {		
		                                alert(conn);
										});
	  </script>									
   </head>
   <body>
     <p>Connection.html</p>
   </body>
 </html>